---
import type { Props } from "@astrojs/starlight/props";

const { labels, lang, lastUpdated } = Astro.props;
---

{
        lastUpdated && (
                <p>
                        {labels["page.lastUpdated"]}{" "}
                        <time datetime={lastUpdated.toISOString()}>
                                {lastUpdated.toLocaleDateString("pt-BR", {
                                        dateStyle: "medium",
                                        timeZone: "America/Sao_Paulo",
                                })}{" "}
                        </time>
                </p>
        )
}
